{# we must use single quotes here as it is included in a data-popover= attribute #}
{% spaceless %}
<form>
    <label for='projectSelect'>Project
    <select name='projectSelect'>
        <option></option>
    </select>
    </label>
    <button type='button' class='btn btn-success'>Update</button>
</form>
{% endspaceless %}
